<ol>
  <li><%= travel_note.created_at.strftime('%d.%m.%y') %></li>
  <li><%= travel_note.body %></li>
  <li><%= travel_note.city %></li>
  <li><%= travel_note.current_temperature %>&#8451;</li>
</ol>
