<div class='container'>
  <%= render partial: 'form' %>
  <div class='row'>
    <div class='col-6'>
      <% if @travel_notes.nil? %>
        <h1>Add your first note!</h1>
      <% else %>
        <h1> Old notes</h1>
      <% end %>
      <table class="table" id='travel-notes'>
        <tbody>
          <%= render partial: 'travel_note', collection: @travel_notes %>
        </tbody>
      </table>
    </div>
  </div>
</div>




