<div class='jumbotron'>
  <div class="row">
    <div class='col-md-3'>
      <p><%= @travel_note.body %></p>
    </div>
    <div class='col-md-3'>
      <p><%= @travel_note.city %></p>
    </div>
    <div class='col-md-3'>
      <p><%= @travel_note.current_temperature %>&#8451;</p>
    </div>
  </div>
</div>